body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 100px;
  padding-bottom: 80px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  width: 100%;
  position: fixed;
  background-color: #05386b;
  color: white;
  padding: 10px 5px;
  top: 0;
}

nav h1 {
  color: white;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
}

.nav-container {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-item {
  margin-right: 100px;
}

/* Styling for home page */
.home-title {
  padding: 0px 5px;
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 0px 5px;
  width: 50%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
  margin-bottom: 10px;
  background-color: #5cdb95;
}

footer {
  position: fixed; 
  padding: 10px 10px 0px 10px; 
  bottom: 0;
  width: 100%; 
  height: 60px; 
  background: #05386b; 
  color: white;
}

footer:hover {
  opacity: 1;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  list-style: none;
}