html {
  overflow-y: scroll;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 100px;
  padding-bottom: 80px;
  background-color: #edf5e1;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  width: 100%;
  position: fixed;
  background-color: #05386b;
  color: white;
  top: 0;
}

header h1 {
  color: white;
  text-decoration: none;
  text-align: center;
  height: 30px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.nav-container {
  display: flex;
  align-items: center;
  list-style: none;
  margin-bottom: 10px;
}

.nav-item {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.nav-item,
.nav-item:after,
.nav-item:before {
  transition: all .5s;
}

.nav-item:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}

.nav-item:hover:after {
  width: 100%;
}

/* Styling for home page */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.home-title {
  padding: 0px 5px;
  text-align: center;
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 0px 5px;
  width: 50%;
  margin-bottom: 10px;
  border-radius: 10px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.container {
  text-align: center;
  font-size: large;
}
.container a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}

.container b {
  color: white;
  font-weight: 1000;
  font-size: 30px;
}

.card-title {
  background-color: #05386b;
  width: 100%;
  border-radius: 5px;
  /* border: solid white 2px; */
}

.countdown-title {
  background-color: #05386b;
  width: 100%;
  border-radius: 5px;
}


.countdown-container, .login-container {
  background-color: #5cdb95;
}

.countdown-card {
  margin-top: 50px;
}

.comment-container {
  background-color: #8ee4af;
}

/* Login page/contact page styling */

.login-container, .contact-container {
  background-color: #5cdb95;
  margin-top: 20px;
}

.login-container h2, .contact-container h2 {
  text-align: center;
}

.login-container input, .contact-container input, .contact-container textarea {
  width: 98%;
  height: 30px;
  margin: 10px 0px;
}

.contact-container textarea {
  height: 50px;
}

.login-container button {
  height: 50px;
  width: 50%;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.sign-up button {
  width: 100%;
}

.contact-container button {
  height: 50px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.login-container button:hover, .contact-container button:hover {
  background-color: #05386b;
  color: white;
}

.profile-name {
  text-align: center;
}

.countdown-title b {
  text-align: center;
  font-size: 30px;
}

.countdown-timer {
  text-align: center;
  font-size: 25px;
  font-weight: bolder;
}

.user-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.user-form input, .user-form button {
  width: 25%;
  height: 30px;
  text-align: center;
  margin-top: 10px;
  
}

.user-form button:hover {
  cursor: pointer;
  background-color: #05386b;
  color: white;
  border-radius: 10px;
}

.comment-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.comment-form textarea {
  width: 95%;
  height: 50px;
}

footer {
  position: fixed; 
  /* padding: 10px 10px 0px 10px;  */
  bottom: 0;
  width: 100%; 
  height: 60px; 
  background: #05386b; 
  color: white;
}
footer a {
  text-decoration: none;
  color: white;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

svg {
  color: #F73718;
}

button {
  background-color: #4CAF50; /* Green */
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  border: solid black 2px;
}

.user-form button {
  color: black;
  padding-bottom: 30px;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  .card {
    width: 75%;
  }
  .card-container {
    text-align: center;
  }

}